div.outerbox {
  background-color: lightgrey;
  max-width: 1000px;
  min-width:auto;
  /* border: 25px solid #306686; */
  padding: 25px;
  margin: 25px;
  margin-top: 25px;
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;
  margin-left: auto;
  margin-right: auto;
}



div.resbox {
  background-color: white;
  width: 1000px;
  /* border: 25px solid #306686; */
  padding: 25px;
  margin: 25px;
  margin-top: 25px;
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;
  margin-left: auto;
  margin-right: auto;
}

div.titlebox {
  background-color: lightgrey;
    max-width: 1040px;
    min-width: auto;
    height: 40px;
    padding: 5px;
    /* margin: 25px; */
    /* margin-top: 25px; */
    margin-right: auto;
    margin-bottom: 25px;
    margin-left: auto;
    margin-left: auto;
    margin-right: auto;
}



div.inputdiv {
  background-color: yellow;
max-width: 915px;
min-width: auto;
height: 40px;
}

div.buttondiv{
  background-color: red;
    width: 125px;
    float: right;
    height: 40px;
        margin-top: -40px;

}

@media screen and (max-width: 1080px) {
    input.inputbox{
        width: 900px;
        margin-top: 0;
    }
}



div.main-div{
  background-color: transparent;
    max-width: 1080px;
    height: -webkit-fill-available;
    margin: auto;
    border-radius: 5px;
}

div.title-div{
  background-color: white;
    max-width: 1080px;
    height: 50px;
}

div.title-text{
  background-color: lightgrey;
padding: 20px;
border-radius: 5px;

}
button.submit-button{

  width: 120px;
height: 40px;
float: right;
margin-top: -53px;
margin-right: 5px;
background-color: #000000;
border-radius: 5px;
color: #c7c7c7;
}

div.inputbox-div{
  background-color: lightgrey;
    max-width: 1080px;
    height: 50px;
    border-top-radius: 5px;
}

input.inputbox {
  background-color: #efefef;
width: -webkit-fill-available;
min-width: auto;
/* height: 26px; */
padding: 5px;
height: 25px;
margin: 5px;
border-radius: 5px;
}

div.matter-div{
  background-color: lightgrey;
    max-width: 1080px;
    height: 50px;

}

div.editor-div{
  background-color: white;
    width: 100%;
    height: 50%;
}
